<html>
<head>
	<title>WebCat Administration</title>
	<link rel="stylesheet" href="../lib/style.css">	
	<script language="Javascript" src="../js/subpage.js"></script>
	<META content="text/html; charset=windows-1251" http-equiv=Content-Type>			
</head>

<body leftmargin="0" topmargin="0">
<table cellspacing="0" cellpadding="2" height="100%" width="100%" border="0">
<tr>
    <td valign=top width="120">
	    <table cellspacing="0" cellpadding="2" height="100%" width="100%" border="0">
			<tr>
				<td height="100">
					&nbsp;
				</td>
			</tr>
			<tr>
				<td valign="top">
    				{include file="menu.htm"}								
				</td>
			</tr>			
		</table>
    </td>
    <td valign=top >{include file=$main_win}</td>
</tr>
</table>
</body>
</html>
